**College Dataset**

Which contains data for 777 college and universities in US

Below are the variables of the dataset
1. Private : Public/private indicator
2. Apps : Number of applications received
3. Accept : Number of applicants accepted
4. Enroll : Number of new students enrolled
5. Top10perc : New students from top 10 % of high school class 
6. Top25perc : New students from top 25 % of high school class â€¢ F.Undergrad : Number of full-time undergraduates
7. P.Undergrad : Number of part-time undergraduates
7. Outstate : Out-of-state tuition
8. Room.Board : Room and board costs
9. Books : Estimated book costs
10. Personal : Estimated personal spending
11. PhD : Percent of faculty with Ph.D.s
12. Terminal : Percent of faculty with terminal degree
13. S.F.Ratio : Student/faculty ratio
14. perc.alumni : Percent of alumni who donate
15. Expend : Instructional expenditure per student
16. Grad.Rate : Graduation rate

**(a) Use the pd.read_csv() function to read the data into Python**

In [33]:
import pandas as pd

In [34]:
college = pd.read_csv('college.csv')
college.head(5)

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

**(b) As the the first column contains name of college and unviersity, change the name for column**

In [35]:
# Read the dataset make the first column in the dataset as index for the dataframe
college2 = pd.read_csv('College.csv', index_col=0) 
# Rename the first column Unnamed: 0 to College
college3 = college.rename({'Unnamed: 0': 'College'}, axis=1) 

college3 = college3.set_index('College')

In [37]:
college3

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
College,,,,,,,,,,,,,,,,,,
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99